iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 60vh;        /* Viewport-relative units */
    width: 100%;
}
