.Tour {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #171717;
}

.Tour-List {
  list-style-type: none;
}

.Tour-Map {
  width: 70vh;
  position: relative;
}

.Tour-Map-Image {
  width: 100%;
}

.pin {
  width: 75px;
}


.pier59 {
  position: absolute;
  top: 20px;
  left: 50px;
}


.pier60 {
  position: absolute;
  top: 280px;
  left: 300px;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

button:hover{
     transform: scale(1.08);
}
